<table>
	<% @questions.each do |q| %>
		<tr>
			<td>
				<h2>
					<a href='/questions/<%= q.id %>'><%= q.caption %></a>
				</h2>
			</td>
			<td><%= q.description %></td>
			<td>
				<form id='question_upvote_<%= q.id %>' style='display:inline;' method='post' action='/questions/<%= q.id %>/up'>
					<input id='upvote_<%= q.id%>' type='submit' value='Upvote (<%= q.upvote_count %>)'>
				</form>
			</td>
			<td>
				<form id='question_downvote_<%= q.id %>' style='display:inline;' method='post' action='/questions/<%= q.id %>/down'>
					<input id='downvote_<%= q.id%>' type='submit' value='Downvote (<%= q.downvote_count %>)'>
				</form>
			</td>
			<td style='width:100px;'>Asked by: <%= q.user.username %></td>
			<% if q.user == current_user %>
				<td><a href="/questions/<%= q.id %>/edit">Edit</a></td>
			<% end %>
		</tr>
	<% end %>
</table>