<h2>
	<%= @question.caption %>
	<span>
		<%= @question.user.username %>
		<% if current_user == @question.user %>
			<a href="/questions/<%= @question.id %>/edit">Edit</a>
			<!-- make form and ajax request-->
			<a href="/questions/<%= @question.id %>/delete">Delete</a>
		<% end %>
	</span>
</h2>
<p><%= @question.description %><p>
<table>
	<% @question.answers.each do |answer| %>
		<tr>
			<td style:'width:50px; word-wrap:break-word;'><%= answer.content %></td>
			<td><%= answer.user.username %></td>
			<td><%= answer.votes %></td>
		</tr>
	<% end %>
</table>