<h2>
	<%= @question.caption %>
	<span>
		<%= @question.user.username %>
		<% if current_user == @question.user %>
			<a href="/questions/<%= @question.id %>/edit">Edit</a>
			<!-- make form and ajax request-->
			<a href="/questions/<%= @question.id %>/delete">Delete</a>
		<% end %>
		<form style='display:inline;' method='post' action='/questions/<%= @question.id %>/up'>
			<input type='submit' value='+'>
		</form>
		<form style='display:inline;' method='post' action='/questions/<%= @question.id %>/down'>
			<input type='submit' value='-'>
		</form>
	</span>
</h2>

<p><%= @question.description %><p>

<p>Upvotes: <%= @upvotes %></p>
<p>Downvotes: <%= @downvotes %></p>

<form method='post' action='/questions/<%= @question.id %>/answers/new'>
	<input type='text' name='answer[content]' placeholder='Answer the question!'>
	<input type='submit' value='Answer!'>
</form>


<p><%= @error_message if @error_message %></p>


<table>
	<% @question.answers.each do |answer| %>
		<tr>
			<td style:'width:50px; word-wrap:break-word;'><%= answer.content %></td>
			<td><%= answer.user.username %></td>
			<% if current_user == answer.user %>
				<td><a href="/answers/<%= answer.id %>/edit">Edit</a></td>
				<td><a href="/answers/<%= answer.id %>/delete">Delete</a></td>
			<% end %>
		</tr>
	<% end %>
</table>